#homepage {
  text-align: center;
}

#bookspage {
  text-align: center;
}

#aboutpage {
  text-align: center;
}

#loginpage {
  text-align: center;
}

#cartpage {
  text-align: center;
}

.coverpage {
  border: .1vw solid #ddd;
  border-radius: .2vw;
  margin: 2vw;
  width: 20vw;
  height: 55vh;
}

.bookpage {
  border: .1vw solid #ddd;
  border-radius: .2vw;
  margin: 2vw;
  width: 20vw;
  height: 55vh;
}

button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: initial;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-container {
  margin: .5vh; /* Adjust margin as needed */
}

#aboutpara {
  margin: 5vh;
}