#homepage {
  height: 78vh;
  text-align: center;
}

#bookspage {
  text-align: center;
}

#aboutpage {
  height: 81.7vh;
  text-align: center;
}

#loginpage {
  height: 81.7vh;
  text-align: center;
}

#cartpage {
  height: 81.7vh;
  text-align: center;
}

.coverpage {
  border: .1vw solid #ddd;
  border-radius: .2vw;
  margin: 2vw;
  width: 20vw;
  height: 55vh;
}

.bookpage {
  border: .1vw solid #ddd;
  border-radius: .2vw;
  margin: 2vw;
  width: 20vw;
  height: 55vh;
}