#homepage {
  text-align: center;
}

#bookspage {
  text-align: center;
}

#aboutpage {
  text-align: center;
}

#loginpage {
  text-align: center;
}

#cartpage {
  text-align: center;
}

.coverpage {
  border: .1vw solid #ddd;
  border-radius: .2vw;
  margin: 2vw;
  width: 20vw;
  height: 55vh;
}

.bookpage {
  border: .1vw solid #ddd;
  border-radius: .2vw;
  margin: 2vw;
  width: 20vw;
  height: 55vh;
}

button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: initial;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-container {
  margin: .5vh; /* Adjust margin as needed */
}

#aboutpara {
  margin-left: 10vh;
  margin-right: 10vh;
}

#back-button {
  left: 15vw;
  top: -30vh;
  height: 2vw;
  border: .1vw solid #ddd;
  border-radius: .2vw;
  font-weight: bold;
}

.bookpage-info {
  border: .1vw solid #ddd;
  border-radius: .2vw;
  margin-left: 20vw;
  width: 20vw;
  height: 55vh;
}

.book-container-info {
  display: flex;
  align-items: center; /* Center items vertically within the container */
  margin-bottom: 10vh;
  margin-top: 5vh;
  
}

.book-details {
  flex-grow: 1; /* Allow the text to take up remaining space */
  margin-left: 5vw;
  max-width: 20vw;
}

.cart-button-info {
  border: .1vw solid #ddd;
  border-radius: .2vw;
}